/* https://www.developerdrive.com/how-to-create-a-css-grid-step-by-step/ */
/* https://medium.com/cloudaper/how-to-create-a-flexible-square-grid-with-css-grid-layout-ea48baf038f3 */

@font-face { font-family: DrawingGuides; src: url('fonts/Drawing-Guides.ttf'); } 

body {
    background-color: #f2fcf5;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 5em;
    margin-top: 50px;
    margin-left: 30px;
    font-family: 'DrawingGuides';
    margin-bottom: 25px;
}

.container {
    width: 600px;
    height: 600px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border: 4px solid #1cd080;
    border-radius: 5px;
  }

.grid-item {
    text-align: center;
    /*border: 1px solid #1cd080;  */
  }


button {
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
    width: 400px;
    border: 2px solid #1cd080;
    border-radius: 5px;
    background-color: #1cd080;
    color: #f2fcf5;
    padding: 12px 28px;
    text-align: center;
    font-size: 18px;
    opacity: 70%;
}

button:hover {
    background-color: white;
    color: #1cd080;
  }
  